.certificate-wrapper {
  text-align: center;
  padding: 20px;
}

.certificate-container {
  width: 900px;
  height: 600px;
  margin: auto;
  border: 6px double #003e7e;
  padding: 60px;
  background: url('../assets/webinarcertificategreen.jpg') no-repeat center center;
  background-size: cover;
  font-family: "Times New Roman", serif;
  position: relative;
  color: #000;
}

.certificate-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.nec-logo {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.college-info {
  text-align: center;
}

.college-name {
  font-size: 29px;
  font-weight: bold;
  color: #0a2b6b;
  margin: 0;
}

.college-address {
  font-size: 20px;
  color: #666;
  margin: 5px 0 0 0;
}

.title {
  font-size: 34px;
  font-weight: bold;
  color: #0a2b6b;
  margin: 15px 0;
}

.name-field {
  font-size: 30px;
  text-transform: uppercase;
  color: #a10f0f;
  font-weight: bold;
}

.program {
  font-size: 20px;
  color: #0a2b6b;
  margin: 10px 0;
}

.text {
  font-size: 20px;
  margin: 5px 0;
  color: #000;
}

.signatures {
  display: flex;
  justify-content: flex-start;   /* Align to the left */
  gap: 80px;                      /* Space between items */
  margin-top: 16px;
}


.signature-item {
  text-align: center;
}

.signature-image {
  width: 120px;
  height: 40px;
  /* object-fit: contain; */
}

.signature-label {
  font-size: 24px;
  margin-top: 1px;
  color: #000000;
  font-weight: bold;
}

.download-btn {
  margin-top: 15px;
  padding: 12px 25px;
  font-size: 18px;
  border: none;
  background: #0046a5;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
}

.download-btn:hover {
  background: #002f6c;
}
